<div id="backdrop" (click)="backdropClick()"></div>
<div id="modal">
    <section class="header">
        <h1 class="title" [class.hide]="editTitle" (click)="listTitleFocus()">
            {{listTitle !== '' ? listTitle : 'List title:'}}</h1>

        <mat-form-field class="heading text--xxl" [class.hide]="!editTitle" appearance="standard">
            <input matInput #titleInput [(ngModel)]="listTitle" (blur)="listTitleChange()"
                (keypress)="listTitleKeyPress($event.key)">
        </mat-form-field>
    </section>

    <section class="content">
        <mat-form-field class="stretch-height">
            <textarea matInput></textarea>
        </mat-form-field>
    </section>

    <section class="buttons">
        <button id="submit" mat-fab (click)="saveList()">
            <mat-icon>check</mat-icon>
        </button>
    </section>
</div>