<ng-container *ngIf="!authUser">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Login</li>
            <li class="list-group-item">
                <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with"
                    data-layout="default" data-auto-logout-link="true" data-use-continue-as="true" onlogin="login()">
                </div>
            </li>
        </ul>
    </div>
</ng-container>