<mat-toolbar>

    <h1 class="title">{{ title }}</h1>

    <span class="spacer"></span>

    <span class="menu">
        <h4 class="username">{{ user }}</h4>

        <button mat-flat-button [matMenuTriggerFor]="menu" class="avatar" aria-label="User avatar"
            [style.backgroundImage]="'url(' + pictureUrl + ')'">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="createList()">Create a list</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </span>
</mat-toolbar>